*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    border: red dotted 5px;
    margin: 30px 0px;
    padding: 30px;
}
footer{
    background-color: gray; 
    padding: 20px;
    margin: 30px 0px;
}

#cifrao{
    color: green;
}

#codigo{
    color: red;
    font-weight: bold;
}